legacy-peer-deps=true
auto-install-peers=true
strict-peer-dependencies=false
@mobiscroll:registry=https://npm.mobiscroll.com
//npm.mobiscroll.com/:_authToken=JuVZ2PFsBsBejLKe7PuOWOtn/OrwsU4ne2i6ApO74zfUSdj+5Qqlmuw9F2uDcnZT
